{% extends 'admin/base_admin.html.twig' %}

{% block title %}Ecoles{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="my-3">Liste des écoles</h1>
                    <ul class="list-group">
                        {% for school in schools %}
                            <li class="list-group-item"><a class="btn fs-4" href="{{ path('admin_school_show', {name: school.name}) }}" >{{ school.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}