{% extends 'admin/base_admin.html.twig' %}

{% block title %}Elèves{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1>{{ school.name }} - liste des classes</h1>
                <ul class="list-group">
                    {% for school_level in school_levels %}
                        <li class="list-group-item"><a class="btn fs-4" href="{{ path('admin_students', {name: school_level.name}) }}">{{ school_level.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}