{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}


{% block body %}
<div class="home">
    <h1>
      Bienvenue sur EASI-DESTI
    </h1>
    <h2>
        Le jeu qui t'aide à mieux lire !
    </h2>
    <div>
        <button type="button" class="btn-home-registration-white"> Je m'inscris pour la première fois ! </button>
    </div>

</div>
{% endblock %}