{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include 'admin/admin_component/_nav.html.twig' %}

    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center" >
                <h1 class="m-5 text-center">Séléctionner l'établissement de l'enfant</h1>
        </div>
        <div class="row d-flex">
            <div class="form col-11 col-sm-9 col-md-7 col-lg-5 mx-auto justify-content-center p-3 border border-2 border-primary shadow-lg p-3 mb-5 rounded text-center">
                <ul>
                    {% for school in schools %}
                        <a href="{{ path('admin_registration_app_register', {name: school.name}) }}" class="text-decoration-none m-2"><li class="list-unstyled">
                        {{ school.name }}
                    </li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}