{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% include 'admin/admin_component/_nav.html.twig' %}

    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center" >
            <a class="text-decoration-none" href="{{ path('home') }}">
                <h1 class="m-3 text-center">Bonjour {% if app.user %}{{ app.user.nickname }}{% endif %}</h1>
            </a>
            <h2 class="mb-5 text-center">Choisissez l'établissement à modifier</h2>
        </div>

        <div class="row d-flex">
            <div class="form col-11 col-sm-9 col-md-7 col-lg-5 mx-auto justify-content-center p-3 border border-2 border-primary shadow-lg p-3 mb-5 rounded text-center">
                <ul>
                    {% for school in schools %}
                        <a href="{{ path('admin_school_edit', {id: school.id}) }}" class="text-decoration-none m-2"><li class="list-unstyled">
                        {{ school.name }}
                    </li></a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}