{% extends 'base.html.twig' %}

{% block title %}EASI{% endblock %}

{% block body %}
    <div class="container-fluid easi">
        <div class="row pt-3">

            {% include 'component/_letter.html.twig' %}
            {% if success == false %}
                {% include 'component/_encouragement.html.twig' %}
            {% elseif success == 'fail' %}
                {% include 'component/_fail.html.twig' %}
            {% else %}
                {% include 'component/_success.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}