{% extends 'easi/help_layout.html.twig' %}
{% block help_number %}
    3
{% endblock %}

{% block help_content %}
    <div class="d-flex flex-column  align-items-center">
        <div class="btn-app easi-white-propositions text-center fs-2">
            <p>Fréquence de la lettre <span class="text-danger">{{ word.letter.content }}</span></p>
            <p>Mot : <span class="text-success">{{ word.content }}</span></p>
        </div>
        <img class="img-help mt-3" src="{{ asset('build/images/camembert_' ~ word.letter.content ~ '.jpg') }}" alt="camembert">
    </div>
{% endblock %}
