{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
     <div class="container">
         <div class="row">
             <div class="col-12">
                 <h1>Séries</h1>
                 <ul class="list-group">
                     {% for serie in series %}
                         <li class="list-group-item d-flex justify-content-between align-items-center">
                             <div>
                                Lettre <span class="fw-bolder">{{ serie.letter.content|upper }}</span> - <span>Niveau {% for i in 1..serie.level %} <i class="fas fa-star"></i>{% endfor %}</span>
                             </div>
                             Série N° {{ serie.number }}
                             <span class="badge bg-success rounded-pill">{{ serie.words|length }} Mots</span>
                         </li>
                     {% endfor %}
                 </ul>
             </div>
         </div>
     </div>
{% endblock %}
