$bg-home:  linear-gradient(90deg, #F6D365 0%, #FDA085 100%);
$bg-easi:  linear-gradient(90deg, #FFC3A0 0%, #FFAFBD 100%);
$bg-desti: linear-gradient(90deg, #FBC2EB 0%, #A6C1EE 100%);
$primary: #000;
$secondary: #FFF;


