{% extends 'base.html.twig' %}

{% block title %}Hello SerieController!{% endblock %}

{% block body %}
    <div class="container-fluid easi">
        <div class="pt-5">
            <h1 class="text-center">Liste des mots</h1>
            <div class="col-8 mx-auto d-flex flex-wrap justify-content-center">
                {% for letter in letters %}
                    <div class="col-3 fs-3 text-dark">
                         <div class="border text-center d-flex flex-column">Lettre: {{ letter.content }}</div>
                        {% for serie in series %}
                            {% if serie.letter.content == letter.content %}
                                <p class="fs-5"><a href="{{ path('serie_show', {serie: serie.id}) }}" class="text-decoration-none">Serie n°{{ serie.number }} Level: {{ serie.level }}</a></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
