{% extends 'base.html.twig' %}

{% block title %}Hello SerieController!{% endblock %}

{% block body %}
    <div class="container-fluid easi pt-5">
        <h1 class="text-center text-decoration-underline">Série n°{{ serie.number }} de la lettre {{ serie.letter.content }}</h1>
        <div class="col-8 mx-auto d-flex flex-wrap pt-5">
            {% for word in serie.words %}
                <div class="col-3 fs-3"><a href="{{ path('word_edit', {word: word.id}) }}" class="text-decoration-none">{{ word.content }}</a></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
