<div class="d-flex justify-content-center">
    <div class="col-6 d-flex flex-column align-items-center">
        <img src="{{ asset('build/images/emoji_success.png') }}" class="emoji" alt="help">
        <h1 class="text-info">Bravo !</h1>
        <p>Tu a réussi au ? essai. Tu gagnes ? points.</p>
    </div>
</div>
<div class="d-flex justify-content-center align-text-bottom my-5">
    <a href="{{ path('game_play', {id: game.id}) }}">
        <div class="next btn btn-app bg-secondary p-2 fs-2">Suivant<i class="fas fa-arrow-right mx-3"></i></div>
    </a>
</div>